-var arquivo = locals.arquivo

div.detail-container
    div.row
        h3 #{arquivo.nome}

    div.row.detail-section
        h4 Criador: #{arquivo.criador.nome}
    div.row.detail-section
        h4 Categoria: #{arquivo.categoria.nome}
    div.row.detail-section
        h4 Descrição:
        p #{arquivo.descricao}

    div.row.detail-section
        h4 Palavras-chave:
        each palavra, index in arquivo.palavrasChave
            div(style="margin:5px;float:left;")
                p #{palavra}