extends ../layout

block styles
    link(rel='stylesheet', href='../../css/list.css')
block content     
    div.table-responsive.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
        h2 Lista de categorias
        div.pull-right
            a(class="btn btn-default" href="/categoria/addcategoria") Novo    
                span.glyphicon.glyphicon-plus 
        table.table.table-hover
            thead
                tr
                    th Nome
                    th.pull-right Ações
            tbody
                -var categorias = locals.categorias
                each categoria, index in categorias
                    tr(data-id="#{categoria._id}")
                        td !{categoria.nome}
                        td
                            div.pull-right
                                button(class = "btn edit")
                                    span.glyphicon.glyphicon-pencil
        -var pages = locals.pages
        -var active = locals.active
        ul.pagination.pag-center
            each pag, index in pages
                if pag == active
                    li(class = "active")
                        a(page-id="#{pag}") #{pag}
                else
                    li
                        a(page-id="#{pag}") #{pag}

        script(src="../../js/categoriaList.js")