extends ../layout

block styles
    link(rel='stylesheet', href='../../css/list.css')
block content
    div.table-responsive.col-lg-8.col-lg-offset-2
        h2 Lista de usuários
        div.pull-right
            a(class="btn btn-default" href="/usuario/addusuario") Novo    
                span.glyphicon.glyphicon-plus
        table.table.table-hover
            thead
                tr
                    th Nome
                    th Cargo
                    th.pull-right Ações
            tbody
                -var usuarios = locals.usuarios
                each usuario, index in usuarios
                    tr(data-id="#{usuario._id}")
                        td #{usuario.nome}
                        td #{usuario.cargo.nome}
                        td
                            div.pull-right
                                button(class = "btn edit")
                                    span.glyphicon.glyphicon-pencil
                                button(class = "btn remove")
                                    span.glyphicon.glyphicon-trash
                                button(type="button", class = "btn show", data-toggle="modal", data-target="#usuarioModal")
                                    span.glyphicon.glyphicon-eye-open
        -var pages = locals.pages
        -var active = locals.active
        ul.pagination.pag-center
            each pag, index in pages
                if pag == active
                    li(class = "active")
                        a(page-id="#{pag}") #{pag}
                else
                    li
                        a(page-id="#{pag}") #{pag}
    div(class="modal fade", id="usuarioModal", role="dialog")
        div.modal-responsive.modal-dialog
            div(class="modal-content")
                div.modal-header
                    button(type="button", class="close", data-dismiss="modal") &times;
                    h4.modal-title Detalhes do time
                div(class="modal-body" id="modalBody" style="height:500px;overflow:auto")
                div.modal-footer
                    button(type="button", class="btn btn-default", data-dismiss="modal") Fechar
    script(src="../../js/usuarioList.js")

block styles
    link(rel='stylesheet', href='../../css/list.css')
block javascript
    script(src="../../js/bootstrap.min.js")